<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<appSettings>
		<add key="RutaGestiones" value="C:\GESTIONES"/>
		<add key="RutaTemporales" value="C:\temp\"/>
	</appSettings>
	<connectionStrings>
		<add name="cnBanchdb13IntNegocios" connectionString="Data Source=banchdb13;Initial Catalog=DB_DESARROLLO;Persist Security Info=True;User ID=Inteligencianegocios;Password=B4nch1l3" providerName="System.Data.SqlClient" />
		<add name="cnBanchdb13IntNegociosTLMK" connectionString="Data Source=banchdb13;Initial Catalog=DB_GESTIONES_TLMK;Persist Security Info=True;User ID=Inteligencianegocios;Password=B4nch1l3" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>